/build/
.dart_tool/
.packages
.pub/
.env
.idea/
.vscode/
*.iml
*.hprof
*.log
*.lock
android/.gradle/
android/app/*.iml
**/GeneratedPluginRegistrant.*
**/Flutter/Generated.xcconfig
**/Flutter/ephemeral/
*.keystore
pubspec.lock
